@import './base.css';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  background: #f7faf8;
  color: #333;
}

main {
  min-height: calc(100vh - 64px);
}
